.Header {
  .headerSnippet {
    display: none;

    @include screen-md {
      display: block;
      background-color: $blue;
    }

    .snippetContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 65px;

      a {
        line-height: 0;
      }

      .snippetConnect {
        display: flex;
        align-items: center;

        > a {
          margin-right: 15px;
          color: $white;

          i {
            color: $green;
            margin-right: 15px;
          }
        }
      }
    }
  }

  .headerMain {
    background-color: $lightest-grey;
    height: 65px;

    .mainContainer {
      height: 65px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include screen-md {
        justify-content: flex-end;
      }
    }
  }
}
