.BlogCard {
  margin: 0 auto 16px;

  > div {
    @include card;
  }

  .title {
    font-size: 24px;
    line-height: 26px;
    text-transform: none;
    margin-bottom: 20px;
    margin-top: 5px;
    color: $header-color;
    letter-spacing: 0;

    @include screen-md {
      font-size: 20px;
      height: 50px;
    }
  }

  .image {
    height: 200px;
  }
  .date {
    margin-bottom: 20px;
    color: $text-color;
    // font-style: italic;
    i {
      color: $green;
      margin-right: 10px;
    }
  }
  p {
    margin-bottom: 0;

    @include screen-md {
      height: 50px;
    }
  }
  .cardActions {
    padding-bottom: 20px;
    flex-direction: column;
    align-items: flex-start;
  }
}
