.Button[type="primary"],
.Button[type="secondary"] {
  display: flex;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
    border-radius: $border-radius;
    height: 45px;
    margin: 10px 0;
    text-transform: uppercase;
    font-weight: $semi-bold;
    letter-spacing: $letter-spacing-small;
    min-width: 180px;
    transition: $transition;
  }
  .buttonIcon {
    margin-right: 16px;
  }
}

.Button[type="primary"] {
  a {
    background-color: $green;
    color: $white;

    &:hover {
      background-color: darken($green, 10%);
    }
  }
}

.Button[type="secondary"] {
  a {
    background-color: $lighter-grey;
    color: $text;

    &:hover {
      background-color: darken($lighter-grey, 10%);
    }
  }
}
