.Button[buttonType="primary"],
.Button[buttonType="secondary"] {
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
  border-radius: $border-radius;
  height: 45px;
  margin: 10px 0;
  text-transform: uppercase;
  font-weight: $semi-bold;
  letter-spacing: $letter-spacing-small;

  transition: $transition;
  width: 100%;
  border: none;

  @include screen-md {
    width: auto;
    min-width: 180px;
  }

  .buttonIcon {
    margin-right: 16px;
  }
}

.Button[buttonType="primary"] {
  background-color: $green;
  color: $white;

  &:hover {
    background-color: darken($green, 10%);
  }
}

.Button[buttonType="secondary"] {
  background-color: $lighter-grey;
  color: $text-color;

  &:hover {
    background-color: darken($lighter-grey, 10%);
  }
}
