.BlogFilter {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  position: relative;
  margin: 20px 0;

  @include screen-sm {
    width: 500px;
  }

  li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 15px;
    background-color: rgba($grey, 0.2);
    border-radius: $border-radius;
    margin-right: 10px;
    color: $grey;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: $bold;
    letter-spacing: $letter-spacing-small;
    line-height: 12px;
    font-size: 12px;
    i {
      font-size: 16px;
    }
  }
}
