$white: #fff;
$green: #6adbbd;
$blue: #041b69;

$gold: #f8b64c;
$silver: #acacac;
$bronze: #b57711;

$lightest-grey: #f2f4f9;
$lighter-grey: #d0d3de;
$grey: #939cb9;
$dark-grey: #636882;
$darker-grey: #424657;

$body-bg: #f9f9fa;
$footer-bg: #43415d;
$text-color: #7e88ab;
$header-color: #5f688a;
