@font-face {
  font-family: "Constantia";
  src: url("/fonts/Constantia.ttf");
}

$serif: "Constantia", serif;
$sans-serif: "Source Sans Pro", Helvetica, Arial, sans-serif;

$font-size-small: 12px;
$font-size-normal: 14px;

$line-height-small: 12px;
$line-height-normal: 14px;
$line-height-paragraph: 22px;

$letter-spacing-small: 1px;
$letter-spacing-medium: 2px;
$letter-spacing-large: 3px;

$light: 300;
$regular: 400;
$semi-bold: 600;
$bold: 800;

$border-radius: 7px;

$transition: all 0.3s;
