.PricingSelfAssessment {
  margin-bottom: 50px;
  .tile {
    @include card;
    background-color: $white;
    border-radius: $border-radius;
    padding: 16px;
    height: 100%;
    display: flex;
    flex-direction: column;

    @include screen-md {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    h3 {
      color: $dark-grey;

      @include screen-md {
        margin-left: 24px;
        margin-right: 24px;
      }
    }

    .buttonContainer {
      display: flex;
      justify-content: center;

      @include screen-md {
        margin-right: 24px;
      }
    }
  }
}
