.FooterPartners {
  display: flex;
  flex-direction: column;

  .partnersContainer {
    display: flex;
    flex-direction: column;
  }

  img {
    height: 48px;
    margin: 10px 0;
    margin-right: auto;
  }
  img:last-of-type {
    height: 68px;
  }
}
