.HomeAbout {
  .text {
    @include screen-sm {
      column-count: 2;
    }
  }
  .link {
    display: block;
    margin-top: 20px;
    color: $green;
    font-weight: $bold;
    text-transform: uppercase;
    font-size: $font-size-small;
    letter-spacing: $letter-spacing-small;
  }
}
