@mixin card {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.075);
  border-radius: $border-radius;
  &:hover {
    transition: all 0.3s;
    box-shadow: 0 4px 5px rgba(darken($grey, 0.5), 0.3) !important;
  }
}
