@mixin tile {
  &:hover {
    transition: all 0.3s;
    box-shadow: 0 4px 5px rgba(darken($grey, 0.5), 0.3) !important;
  }
}

@mixin link {
  color: $green;
  text-transform: uppercase;
  font-weight: $bold;
  letter-spacing: $letter-spacing-small;
}
