@mixin link {
  width: auto;
  a {
    background-color: rgba($green, 0.2);
    padding: 8px 15px;
    border-radius: $border-radius;
    width: auto;
    color: $green;
    font-weight: $bold;
    text-transform: uppercase;
    font-size: $font-size-normal;
    letter-spacing: $letter-spacing-small;
    transition: $transition;

    &:hover {
      background-color: rgba($green, 0.8);
      color: $white;
    }
  }
}
