.BlogTile {
  margin: 0 auto 30px;

  > div {
    @include tile;
    border-radius: $border-radius;
    box-shadow: none;
    // padding: 16px;

    @include screen-sm {
      // padding: 32px;
    }
  }

  .title {
    margin-bottom: 20px;
  }

  .image {
    height: 200px;
  }
  // .image {
  //   width: 100%;
  //   height: 100%;
  //   border-radius: $border-radius;
  // }

  .link {
    @include link;
  }
}
