.TeamTile {
  a {
    > .tile {
      @include tile;
      display: flex;
      flex-direction: row;
      align-items: center;
      border-radius: $border-radius;
      padding: 32px;
      box-shadow: none;

      .avatar {
        border-radius: 50%;
        width: 80px;
        height: 80px;
      }
      .text {
        margin-left: 32px;
        h2,
        h4 {
          margin: 0 0 5px;
        }

        p {
          margin-bottom: 0;
        }
      }
    }
  }
}
