.NavMobile {
  display: flex;

  @include screen-md {
    display: none;
  }

  button {
    min-width: auto;

    i {
      color: $grey;
      font-size: 20px;
    }
  }
}

.list {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
  background-color: $lightest-grey;
  width: 320px;
  height: 100vh;
  padding: 0;

  @include screen-md {
    display: none;
  }

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 15px 24px 0;
    margin-bottom: 16px;

    .logo {
      width: 120px;
    }

    .buttonClose {
      display: flex;
      justify-content: flex-end;
      min-width: auto;

      i {
        font-size: 22px;
        color: $grey;
      }
    }
  }

  .contactButtons {
    display: flex;
    flex-direction: row;
    margin: 0 24px;

    a {
      margin: 0;
      width: 100%;
    }
  }

  .footer {
    margin-top: 16px;
    .connect {
      display: flex;
      padding: 16px;
      background-color: $lightest-grey;

      a {
        padding: 0;
        margin: 0;
        background-color: transparent;
        height: auto;
      }

      i {
        color: $text-color;
        font-size: 20px;
        margin-right: 16px;
      }
    }
    .copyright {
      background-color: $darker-grey;
      color: $white;
      font-weight: $light;
      height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

:global {
  .active {
    color: $dark-grey !important;
    background-color: rgba($blue, 0.1) !important;
  }
}
