.AddOns {
  .tile {
    @include card;
    background-color: $white;
    border-radius: $border-radius;
    height: 100%;
    overflow: hidden;

    .addOns {
      margin-left: 2em;
      li {
        padding: 5px 15px 5px 30px;
        color: $grey;
        font-weight: $semi-bold;
        min-height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .iconContainer {
          min-height: 50px;
          height: 100%;
          top: 0;
          padding: 4px 10px;
          width: 3.5em;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        span {
          color: $green;
        }
        small {
          font-size: 90%;
          font-weight: normal;
        }
      }

      li:nth-child(odd) {
        background-color: $lightest-grey;

        .iconContainer {
          background-color: $lightest-grey;
        }
      }
    }
  }

  .buttonContainer {
    margin: 20px 0 100px;
  }
}
