.BlogPost {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;

    .date {
      color: $grey;
      margin-bottom: 20px;

      i {
        margin-right: 10px;
        color: $green;
      }
    }
  }

  .featuredImage {
    height: 400px;
    width: 100%;
    background-position: center;
    margin-bottom: 30px;
    border-radius: $border-radius;
  }

  .markdown {
    img {
      width: 100%;
      max-width: 100%;
      border-radius: $border-radius;
    }
    h1,
    h2 {
      margin-bottom: 20px;
    }
    ul {
      list-style-type: disc;
      padding-left: 50px;
      color: $text-color;
    }
  }
  .divider {
    margin: 40px 0;
  }
}
