.Footer {
  @include screen-md {
    padding-top: 100px;
  }

  .FooterMain {
    background-color: $footer-bg;
  }

  .FooterLinks {
    display: none;
    padding-bottom: 100px;

    @include screen-md {
      display: block;
    }
  }

  .column {
    display: flex;
    flex-direction: column;

    h4 {
      color: $lightest-grey;
    }

    a {
      padding: 5px 0;
      color: $lightest-grey;
    }
  }

  .contactButtons {
    padding: 0 16px;

    @include screen-sm {
      padding: 0 24px;
    }

    @include screen-md {
      display: none;
    }
  }

  .FooterSnippet {
    background-color: darken($footer-bg, 10%);

    > div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: $white;
      font-size: $font-size-small;
      padding: 15px 0;

      @include screen-md {
        flex-direction: row;
        justify-content: space-between;
      }
    }

    .companyInfo {
      display: none;

      @include screen-md {
        display: inline;
      }
    }
    .mobileConnect {
      @include screen-md {
        display: none;
      }
    }
  }
}
