.link {
  @include link;

  &[buttonType="secondary"] {
    a {
      background-color: $lightest-grey;
      color: $grey;

      &:hover {
        background-color: darken($lightest-grey, 5%);
      }
    }
  }
}
