.Logo {
  .logoWeb {
    display: none;

    @include screen-md {
      display: block;
      width: 120px;
      cursor: pointer;
    }
  }

  .logoMobile {
    width: 35px;

    @include screen-md {
      display: none;
    }
  }
}
