.Nav {
  display: none;

  @include screen-md {
    display: block;
  }
  ul {
    display: flex;
    flex-direction: row;

    li {
      display: flex;
      align-items: center;
      padding: 10px 20px;
      color: $dark-grey;

      img {
        display: none;
      }
    }
    :last-child {
      padding-right: 0;
      margin-right: 0;
    }
  }
}

:global {
  .active {
    color: $blue !important;
    background-color: rgba($blue, 0.1);
    border-radius: $border-radius;
  }
}
