.Nav {
  display: none;

  @include screen-md {
    display: block;
  }
}

:global {
  .active {
    color: $blue !important;
    background-color: rgba($blue, 0.1);
    border-radius: $border-radius;
  }
}
