* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  font-family: $sans-serif;
  background-color: $body-bg;
  font-size: 14px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1 {
  font-family: $serif;
  color: $text;
  font-weight: $regular;
  font-size: 30px;
  margin: 0;

  @include screen-md {
    font-size: 40px;
  }
}

h4 {
  color: $text;
  letter-spacing: $letter-spacing-small;
  font-size: 14px;
}

p {
  font-family: $sans-serif;
  color: $text;
  line-height: $line-height-paragraph;
}

a,
i {
  text-decoration: none;
  cursor: pointer;
}

section {
  margin-bottom: 50px;
}
