// Global
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  font-family: $sans-serif;
  background-color: $body-bg;
  color: $text;
  font-size: 14px;
}

// Layout
section {
  padding-bottom: 75px;
}

// Typography
h1 {
  font-family: $serif;
  color: $text;
  font-weight: $regular;
  font-size: 30px;
  margin: 0;

  @include screen-md {
    font-size: 40px;
  }
}

h2 {
  font-family: $serif;
  color: $text;
  font-weight: $regular;
  font-size: 16px;
  margin: 0;

  @include screen-md {
    font-size: 20px;
  }
}

h4 {
  color: $text;
  letter-spacing: $letter-spacing-small;
  font-size: 14px;
  text-transform: uppercase;
}

p {
  font-family: $sans-serif;
  color: $text;
  line-height: $line-height-paragraph;

  @include screen-md {
    font-size: 16px;
    line-height: 24px;
  }
}

a,
i {
  text-decoration: none;
  cursor: pointer;
}

// Lists
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

// Forms
form {
  input,
  textarea,
  select {
    width: 100%;
    max-width: 100%;
    height: 45px;
    padding: 15px;
    border: 0;
    background-color: rgba($white, 0.8);
    border-radius: $border-radius;
    transition: $transition;
    outline: 0;

    &:hover,
    &:focus {
      outline: 0;
      background-color: $white;
    }
  }
  textarea {
    min-height: 150px;
  }
}

.dropzone {
  padding: 100px 30px;
}

.drop-zone-hide {
  display: none;
}

.drop-zone-show {
  position: absolute;
  display: flex;
  border-radius: 10px;
  border: 2px dashed #939cb9;
  margin: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: 2000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  color: #fff;
  letter-spacing: 1px;
}
